* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    width: 100vw;
}

#header-section {
    width: 100%;
    position: fixed;
}

.sideNav-container {
    padding: 5%;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #f8850c;
    overflow-x: hidden;
    transition: 0.3s;
}

.sideNav-h2 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

.sideNav-p {
    color: #fff;
}

#callback-form label {
    color: #fff;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#callback-form {
    display: flex;
    flex-direction: column;
    width: 100%
}

#callback-form label {
    font-size: 14.4px;
}

#callback-form input {
    padding: 7px;
    border: none;
}

#callback-form button {
    color: white;
    background-color: #20233c;
    border-radius: 5px;
    border: none;
    padding: 15px;
}

.header-sc001 {
    width: 100%;
    background-color: #20233C;
    padding: 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 615px) {
    .header-sc001 {
        flex-direction: column;
        justify-content: center;
    }

    .header-sc001-left {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-sc001-img {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
    }

    .header-sc001-right {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
}


.header-sc001-right {
    display: flex;
    align-items: center;
    padding-right: 50px;
    flex-wrap: wrap;
}

.header-sc001-p {
    color: white;
    margin-right: 5px;
}

.header-sc001-button {
    color: white;
    background-color: #F8850C;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}

.call-to-action {
    width: 100vw;
}